@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir/Vazir.eot"),
  url("../fonts/Vazir/Vazir.ttf"),
  url("../fonts/Vazir/Vazir.woff"),
  url("../fonts/Vazir/Vazir.woff2");
}

@font-face {
  font-family: "VazirBold";
  src: url("../fonts/Vazir/Vazir-Bold.eot"),
  url("../fonts/Vazir/Vazir-Bold.ttf"),
  url("../fonts/Vazir/Vazir-Bold.woff"),
  url("../fonts/Vazir/Vazir-Bold.woff2");
}

@font-face {
  font-family: "VazirLight";
  src: url("../fonts/Vazir/Vazir-Light.eot"),
  url("../fonts/Vazir/Vazir-Light.ttf"),
  url("../fonts/Vazir/Vazir-Light.woff"),
  url("../fonts/Vazir/Vazir-Light.woff2");
}
