// Fonts
$EnFontFamily: "Trebuchet MS";
$FaFontFamily: "Vazir";
$FaFontFamilyLight: "VazirLight";
$FaFontFamilyBold: "VazirBold";
// Transition Time
$transitionAllTime: 0.4s;
// Main Colors
$mainOrange: #f0b90b;
$mainOrangeSecond: #fcd535;
$mainBlue: #40acf1;
$mainDarkBlue: #212833;
$mainGreen: #2dcd95;
$mainRed: #cf304a;
$mainDark: #181a20;
$mainLight: #ffffff;
// Main Low Colors
$mainLowDark: #0b0e11;
$mainLowLight: #fafafa;
// Main First Colors
$mainLightInDarkFirst: #eaecef;
$mainDarkInLightFirst: #1e2329;
// Main Second Colors
$mainLightInDarkSecond: #b7bdc6;
$mainDarkInLightSecond: #474d57;
$mainDarkInLightSecondHover: #32363d;
// Background Highliter Color
$backgroundHighliterInLight: #f5f5f5;
$backgroundHighliterInLightHover: #f5f5f5be;
$backgroundHighliterInDark: #2B3139;
$backgroundHighliterInDarkHover: #2b3139be;