:root {
    /* day */
    --dayColor: #333;
    --dayBack: #FAFAFA;
    --dayBoxShadow: #333;
    /* night */
    --nightColor: #fff;
    --nightBack: #111425;
    --nightBoxBack: #333;
    --nightBorderColor: #111425;
    --nightSecondColor: #ccc;
    /* Website colors */
    --backColor: #111425;
    --backSecondColor: #1114258f;
    --transparentColor: #ffffff1c;
    --buttonColor: #F0B90B;
    --buttonOrangeGradient: linear-gradient(180deg,#F8D12F 0%,#F0B90B 100%);
    --buttonRedGradient: linear-gradient(180deg,#F84960 0%,#fd3550 100%);
    --buttonSecondColor: #eeb600;
    --linkFirstColor: #2DCD95;
    --linkSecondColor: #40ACF1;
    --blackColor: #333;
    --borderColor: #ccc;
    --loadingBackColor: rgba(204, 204, 204, 0.37);
    /* user panel */
    --panel-back: #f1f5f9;
    --card-footer: #f9fafc;
    /* static Color */
    --greyColor: #FAFAFA;
    --greySecondColor: #d9e0e7;
    --whiteColor: #fff;
    --blackColor: #0B0E11;
    --whiteColor: #fff;
    --greenColor: #2DCD95;
    --orangeColor: #f5921e;
    --redColor: #F84960;
    --boxSmShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --boxMdShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --boxLgshadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /* hover */
    --buttonHoverColor: #F8D12F;
    --buttonHoverOrangeGradient: linear-gradient(180deg,#F8D12F 0%,#f8d64e 100%);
    --buttonHoverRedGradient: linear-gradient(180deg,#fd3550 0%,#f0334c 100%);
    --buttonSecondHoverColor: #f8d64e;
    --greySecondColorHover: #d1d3d4;
    --orangeColorHover: #d8821f;
    --greenColorHover: #32be8f;
    --redColorHover: #fd3550;
    /* focus colors */
    --focusColor: #dd9d1c;
    /* shadowColor */
    --fisrt-shadowColor: #dd9d1c79;
    /* navbar toggler color */
    --navbar-toggleColor: rgba(238, 238, 238, 0.52);
    /* main colors */
    /* header height */
    --header-height: 100%;
    /* Font Size */
    /* Lg Screen */
    --fontSize: 1.2rem;
    --btnSize: .7rem;
    /* Md Screen */
    --fontMdSize: .9rem;
    --btnMdSize: .5rem;
    /* Second Md */
    --fontMdSecondSize: .75rem;
    /* Sm Screen */
    --fontSmSize: .6rem;
    --btnSmSize: .2rem;
    /* Nav */
    /* Lg Screen */
    --navFontSize: .8rem;
    /* Ticker Transform Duration */
    --newsDuration: 40s;
    /* For each item append 20% to tickerTransform */
    --tickerTransform: 370%;
}


/* Fonts */

@font-face {
    font-family: 'Iransans';
    src: url("../fonts/irsans/iransans-ultra-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src: url('/fonts/yekan/Yekan.eot');
    src: url("/fonts/yekan/Yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/Yekan.woff") format("woff"), url("../fonts/yekan/Yekan.ttf") format("truetype"), url("../fonts/yekan/Yekan.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* DanaRegular */

@font-face {
    font-family: 'Dana';
    src: url("../fonts/dana/dana-regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* DanaBold */

@font-face {
    font-family: 'DanaBold';
    src: url("../fonts/dana/dana-bold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url('/fonts/byekan/Yekan.eot');
    src: url("../fonts/byekan/Yekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* scroll bar */

::-webkit-scrollbar {
    width: .3rem;

}

 ::-webkit-scrollbar-track {
    background: var(--whiteColor);
}

 ::-webkit-scrollbar-thumb {
    background: var(--backColor);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--buttonColor);
}

/* Table Scrollbar */

.table-responsive::-webkit-scrollbar {
    height: .1rem;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 1rem;
    webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.623);
    border-radius: .1rem;
}


/* End scroll bar */


/* Default change */

body {
    font-family: 'Iransans';
    z-index: 999;
    transition: all .3s ease-in-out;
}

.nav-link {
    color: var(--whiteColor) !important;
}

.table td, .table th {
    vertical-align: middle;
}


/* night */

.night {
    background-color: var(--nightBack);
}

/* Background & Border Colors */
.night .static__back-color {
    color: var(--whiteColor);
    border-color: var(--greyColor);
}

.night .border__boxes {
    border: 1px solid var(--white);
}
.night .back__bg-color {
    background-color: var(--nightBack);
}

.night .border__SecondColor {
    border-color: var(--nightBoxBack) !important;
}

.night .shadow__color:hover {
    background-color: var(--nightBack);
}

.night .bg__box-border {
    background-color: var(--nightBoxBack);
    border: none;
}

.night .box__bg-color {
    background-color: var(--nightBoxBack) !important;
}

.night .special__bg-box {
    background-color: var(--nightBoxBack) !important;
}

.night .box__color {
    background-color: var(--nightBoxBack);
}

.night .bg-border__color,
.night select,
.night thead th {
    background-color: var(--nightBoxBack);
    border-color: var(--nightBorderColor);
}

.night th,
.night td {
    border-color: var(--nightBorderColor);
}

.night .back-color__part,
.night input,
.night input:focus,
.night select,
.night select:focus,
.night textarea,
.night textarea:focus {
    background-color: var(--nightBoxBack);
    color: var(--whiteColor);
}

/* Iframe Night Background */
.night .iframe-back__color {
    filter: invert(90%);
}

/* Colors */

.night .text__First-color {
    color: var(--nightColor);
}

.night .link__Second-color
.night .link__Second-color::after
.night .link__Second-color::before {
    color: var(--buttonColor);
}

.night .text-link__Third-color {
    color: var(--whiteColor);
}

.night a,
.night a::after,
.night a::before {
    color: var(--linkSecondColor);
}

.night h1,
.night h2,
.night h3,
.night h4,
.night h5,
.night td,
.night th,
.night input,
.night textarea,
.night div,
.night span .night p {
    color: var(--nightColor);
}

/* border & Background more */

.night .border__color,
.night input,
.night textarea {
    border-color: var(--nightSecondColor) !important;
}

.night .border-back__color {
    border-color: var(--nightBoxBack);
    background-color: var(--nightBack);
}


/* day */

.day {
    background-color: var(--dayBack) !important;
}

.day .night__back {
    background-color: var(--nightBack);
}

.day .static__back-color {
    color: black;
    border-color: rgba(0,0,0,.125);
}

.day .navbar a,
.day footer a {
    color: var(--whiteColor);
}

.day .card,
.day .price__list--table {
    background-color: var(--dayBack) !important;
}

.day input:checked {
    background-color: var(--buttonColor) !important;
}

.day .blog__container-header {
    background-color: var(--backColor);
}

.day .button__back-Color {
    background-color: var(--buttonHoverColor);
}

.day .box__bg-color {
    background-color: var(--greyColor) !important;
}

.day .special__bg-box {
    background-color: var(--backColor) !important;
}

.day .shadow__color:hover {
    background-color: var(--greySecondColorHover);
}

.day .question__box {
    background-color: var(--whiteColor);
}

.day .box__color {
    background-color: var(--whiteColor);
}

.day .border__SecondColor {
    border-color: var(--borderColor) !important;
}

.day .border__color {
    border-color: var(--greySecondColor) !important;
}
.day .a-link {
    color: var(--whiteColor);
}

.day .text__First-color {
    color: var(--blackColor);
}

a {
    color: var(--buttonColor);
    text-decoration: none !important;
    transition: all .3s ease-in-out;
    box-shadow: none !important;
}

.special-link {
    color: var(--linkSecondColor);
}

.special-Second-link {
    color: var(--buttonColor) !important;
} 

.active a {
    color: var(--buttonColor) !important;
}

input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: unset !important;
}

input:hover,
input:focus {
    box-shadow: none !important;
}

input:focus {
    border-color: var(--buttonColor) !important;
}

input::placeholder {
    font-weight: bold;
}

.form-control {
    background-clip: unset !important;
}

textarea {
    box-shadow: none !important;
}

textarea:focus {
    border-color: var(--buttonColor) !important;
}

textarea::placeholder {
    font-weight: bold;
}

select {
    cursor: pointer;
}

select:hover,
select:focus {
    box-shadow: none !important;
    border-color: var(--buttonColor);
}

button {
    box-shadow: none !important;
}

.price__list--table table thead th {
    border-top: none !important;
}

.table {
    margin-bottom: .1rem;
}

.icon__button {
    cursor: pointer;
    transition: .3s;
}
.icon__button:hover {
    color: var(--buttonColor);
}

/* tr {
    font-size: var(--fontSize);
} */

tr .table__buy,
tr .table__sell,
tr .table__changepct {
    font-family: 'BYekan';
}

.text-sm {
    font-size: var(--fontSmSize);
}

.text-md {
    font-size: var(--fontMdSize);
}

/* End Default change */


/* btn colors */

.btn:focus {
    box-shadow: none;
}

.btn--danger {
    background-image: var(--buttonRedGradient) !important;
    border-color: var(--redColor) !important;
    color: var(--black) !important;
}

.btn--danger:hover {
    background-image: var(--buttonHoverRedGradient) !important;
    color: var(--black) !important;
}

.btn--danger:focus,
.btn--danger:active {
    background-color: var(--redColor) !important;
    color: var(--whiteColor) !important;
}

.btn--success {
    background-color: var(--greenColor) !important;
    border-color: var(--greenColor) !important;
    color: var(--whiteColor) !important;
}

.btn--success:hover,
.btn--danger:hover {
    color: var(--backColor) !important;
}

.btn--success:focus,
.btn--success:active {
    background-color: var(--greenColorHover) !important;
    color: var(--whiteColor) !important;
}

.btn--orange {
    background-image: var(--buttonOrangeGradient) !important;
    border: none !important;
    color: var(--black) !important;
}

.btn--orange:hover {
    color: var(--backColor) !important;
    background-image: var(--buttonHoverOrangeGradient) !important;
}
.btn--orange:focus,
.btn--orange:active {
    background-color: var(--button) !important;
    color: var(--black) !important;
}

.btn-outline-orange {
    border-color: var(--buttonColor) !important;
    color: var(--black) !important;
}

.btn-outline-orange:hover {
    background-color: var(--buttonColor) !important;
    color: var(--black) !important;
}

.btn-outline-orange:focus,
.btn-outline-orange:active {
    background-color: var(--buttonHoverColor) !important;
    color: var(--black) !important;
}


.btn--orange-second {
    background-color: var(--buttonSecondColor) !important;
    border-color: var(--buttonSecondColor) !important;
    color: var(--whiteColor) !important;
}
.btn--orange-second:hover {
    background-color: var(--buttonSecondHoverColor) !important;
    border-color: var(--buttonSecondHoverColor) !important;
    color: var(--whiteColor) !important;
}

.btn--orange-second:focus,
.btn--orange-second:active {
    background-color: var(--focusColor) !important;
    border-color: var(--focusColor) !important;
    color: var(--whiteColor) !important;
}



/* text colors */

.text--white {
    color: var(--whiteColor) !important;
}

.text--success {
    color: var(--greenColor) !important;
}

.text--danger {
    color: var(--redColor) !important;
}

.text--orange {
    background-color: var(--buttonSecondColor) !important;
}

.badge--success {
    color: var(--whiteColor);
    background-color: var(--greenColor);
}

.badge--danger {
    color: var(--whiteColor);
    background-color: var(--redColor);
}

.badge--warning {
    color: var(--whiteColor);
    background-color: var(--buttonColor);
}

/* text aligns */

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

/* background colors */

.bg--success {
    background-color: var(--greenColor);
}

/* cursur */
.disabled {
    cursor: not-allowed !important;
}

/* navbar */

.navbar {
    padding: 0;
}
/* .navbar-brand.navbar-custom {
    display: inline;
} */
.navbar__lg {
    background-color: var(--backColor);
    -webkit-box-shadow: var(--boxLgshadow);
    box-shadow: var(--boxLgshadow);
    font-size: var(--navFontSize);
}

.nav-item {
    padding: 5px;
}

.nav__button {
    color: var(--blackColor);
    transition: all .3s ease-in-out;
}

.nav__button {
    margin: .3rem;
    padding: 0;
    border-radius: .3rem;
}

.nav__button:first-child {
    margin-left: .7rem;
    margin-right: .7rem;
}


.nav__button:last-child {
    background-color: var(--buttonColor);
}

.nav__button:last-child a {
    color: var(--blackColor);
}

.nav__button:last-child:hover {
    background-color: transparent;
}

a .mapLogo {
    width: var(--fontSize);
    filter: brightness(0) invert(1);
    transition: filter .3s ease-in-out;
}

a:hover .mapLogo {
    filter: none;
}

.custom-control-label {
    cursor: pointer;
}

.navbar__sm {
    display: none !important;
    background-color: var(--backColor);
    padding: .6rem 1.4rem .3rem 1.4rem;
    z-index: 99;
}

.nav__toggler {
    margin-top: .3125rem;
}

.toggler__icon {
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--whiteColor);
}


/* sm toggle navbar */

.toggle__navbar {
    display: none;
    width: 15rem;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -15rem;
    background-color: var(--backSecondColor);
    backdrop-filter: blur(5px);
    transition: all .4s ease-in-out;
}

.toggler__navbar li a {
    color: var(--whiteColor);
}

.nav__toggler__close {
    right: 1.4rem;
    top: 1rem;
    position: absolute;
}

.open__navbar {
    right: 0rem !important;
}

.sm__navbar-nav {
    margin-top: 3rem;
}


/* End navbar */


/* header */

.header {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: var(--blackColor);
    z-index: 1040 !important;
    padding: 6rem 0 6rem 0;
}

.header-title {
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    font-size: var(--fontSize);
}

.header-text {
    font-size: var(--fontMdSecondSize);
    color: var(--whiteColor);
    margin: 1rem 0 0 0;
}

.register__box {
    display: flex;
    justify-content: center;
    margin: 1.2rem 0 0 0;
}

.register__box .row {
    width: 55%;
    height: 4.5rem;
}

.register__input input {
    border-radius: .2rem !important;
    background-clip: unset;
    height: 48px;
    text-align: center;
}

.register__input,
.register__submit {
    padding: .5rem 0 0 0;
}

.register__submit button {
    height: 48px !important;
}

.register__submit button:hover {
    background-color: var(--buttonHoverColor) !important;
}

.map__icon {
    font-size: var(--fontSize);
}

.navbar__sm .mode__page {
    padding-left: .7rem;
}

.mode__page {
    padding-right: .5rem;
    cursor: pointer;
    font-size: var(--fontSize);
}

.mode__page.day__mode {
    color: var(--buttonColor);
}

.mode__page.night__mode {
    color: var(--linkSecondColor);
}

.not_accepted {
    cursor: not-allowed;
}


/* Login & Signup */

.content .auth {
    margin: 8rem 0 8rem 0;
}

.auth__img img {
    width: 500px;
}

.wave__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.login .wave__img, .reset .wave__img {
    height: 140%;
}

.register .wave__img {
    height: 140%;
}

.verify .wave__img {
    height: 110%;
}

.auth__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 5rem;
}

.auth__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth__img img {
    width: 500px;
}

.LoSi__container {
    display: flex;
    align-items: center;
    text-align: center;
}
.verify__container {
    text-align: center;
}

.auth__form {
    width: 360px;
}

.avatar__img {
    width: 100px;
}

.auth__form h2 {
    font-size: 2.9rem;
    margin: 15px 0;
}

.input__div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--greySecondColor);
}
.verify__div {
    margin: 1rem 0 1rem 0;
}

.input__div::after,
.input__div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--buttonColor);
    transition: .3s;
}

.input__div::after {
    right: 50%;
}

.input__div::before {
    left: 50%;
}

.input__div.focus .auth__icon {
    color: var(--buttonHoverColor) !important;
}

.input__div.focus div h5 {
    top: -10px;
    font-size: -15px;
}

.input__div.focus::after,
.input__div.focus::before {
    width: 50%;
}

.input__div:first-child {
    margin-top: 0;
}

.input__div:last-child {
    margin-bottom: 4px;
}

.auth__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    color: var(--greySecondColor);
}

.input__div>div {
    position: relative;
    height: 45px;
}

.input__div>div h5 {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--greySecondColor);
    font-size: 18px;
    transition: .3s;
    z-index: 5;
}

.input__div input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
}

.input__div input:focus {
    background-color: var(--back__bg-color);
}

.input__err span {
    display: block;
}

.LoSi__container a {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    transition: .3s;
}

.auth__btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: .3rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--buttonSecondColor), var(--buttonColor), var(--buttonHoverColor), var(--buttonSecondHoverColor));
    cursor: pointer;
    background-size: 200%;
    transition: .5s;
}

.auth__btn:hover {
    background-position: right;
}


/* custom checkbox */

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox a {
    color: var(--blackColor);
    text-decoration: none;
}

.checkbox>span {
    color: var(--greySecondColor);
    padding: 0.45rem 0.25rem;
}

.checkbox>input {
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-top: 1px solid var(--buttonColor) !important;
    border-right: 1px solid var(--buttonColor) !important;
    border-bottom: 1px solid var(--buttonColor) !important;
    border-left: 1px solid var(--buttonColor) !important;
    border-radius: 2px !important;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--whiteColor);
    cursor: pointer;
}

.checkbox>input:checked {
    border: 1px solid var(--whiteColor);
    background-color: var(--buttonColor);
}

.checkbox>input:checked+span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: var(--whiteColor);
    position: absolute;
    right: 0.19rem;
    bottom: 0.4rem;
}

.rule__box {
    display: flex;
    align-items: center;
}


/* End header */


/* Currnecy Info */

.currency__infos {
    width: 100%;
    margin: 0;
    background-color: var(--backColor);
    border-top: 1px solid var(--blackColor);
    font-family: "Yekan";
}

.currency__infos .currency__item {
    display: inline-block;
    white-space: nowrap;
}

.ticker-wrap {
    right: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: content-box;
}

.ticker-wrap .ticker {
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: var(--newsDuration);
    animation-duration: var(--newsDuration);
}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    color: var(--whiteColor);
}

.currency__infos .col-3 {
    padding: 0;
}

.currency__item {
    white-space: nowrap;
    border-left: 1px solid var(--blackColor);
    width: 17rem;
    padding: 1rem 2rem 0 0;
    position: relative;
    overflow: hidden;
}

.currency__item:first-child {
    border-right: 1px solid var(--blackColor);
}

.currency__pic img {
    width: 2rem;
}

.currency__name {
    color: var(--whiteColor);
}

.currency__price {
    font-size: 1.5rem;
}

.currency__24PCT {
    position: absolute;
    left: 1.4rem;
    bottom: .7rem;
    width: 3.3rem;
    border-radius: .4rem;
}

.currency__volume {
    color: var(--whiteColor);
}


/* Main */

.main {
    position: relative;
}

.paper__loading {
    width: 0;
    height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--loadingBackColor);
}

.paper__loading.show {
    width: 100%;
    height: 100%;
}

.back__img-one,
.back__img-two,
.back__img-three  {
    width: 17rem;
    position: absolute;
    z-index: -20;
}
.back__img-one {
    top: 22rem;
    left: 0;
}

.back__img-two {
    top: 2rem;
    right: 0;
}

.back__img-three {
    top: 36.5rem;
    right: 0;
}




/* Cards */

.content--cards {
    margin: 3rem 0 4rem 0;
}

.content--cards__card {
    height: 255px;
    background-color: var(--whiteColor);
    box-shadow: var(--boxMdShadow);
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


/* Card Image */

.content--cards__card .card__img {
    display: flex;
    justify-content: center;
}

.content--cards__card .card__img img {
    width: 7rem;
    height: 7rem;
}

.content--cards__card .card__img--second img {
    width: 3rem;
    height: 3rem;
}


/* Card Title */

.card__title {
    text-align: center;
}


/* Card Text */

.card__text {
    text-align: justify;
}


/* Coins List Table */

.coins__price__table {
    display: flex;
    justify-content: center;
    padding: 2rem 0 4rem 0;
}

.price__list--header {
    margin: 0 0 2rem 0;
}

.price__list--table {
    position: relative;
    max-width: 60rem;
    font-size: var(--fontSize);
    border-radius: .4rem;
    box-shadow: var(--boxSmShadow);
}

tr {
    transition: all .3s ease-in-out;
}

.table__img img {
    max-width: 1.8rem;
    max-height: 1.8rem;
}

.table__buttons div a {
    font-size: var(--btnSize);
    color: black;
    border: 1px solid rgba(0,0,0,.125);
}

.table__buttons div a:hover {
    color: black !important;
    background-color: var(--buttonHoverColor);
    border: 0px;
}

.chart-graph {
    width: 80px !important;
    height: 20px !important;
}

.downGraph {
    filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}

.upGraph {
    filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}

.dropdownIcon:hover {
    transform: translate(180deg);
}

.tv-lightweight-charts table tr:nth-child(2),
.tv-lightweight-charts table tr:nth-child(1) td:nth-child(3) {
    display: none !important;
}


/* Second Section */

.second__section {
    background-color: var(--backColor);
    padding: 1.83rem 0 0 0;
}


/* App Container */

.app__container {
    padding: 4rem 0 6rem 0;
}

.app__image {
    display: flex;
    justify-content: center;
}

.app__image img {
    width: 400px;
}

.app__details {
    margin: 2rem 0 1rem 0;
}

.app__details h3 {
    margin: 2.5rem 0 2.5rem 0;
}

.app__download-box {
    position: relative;
}

.app__download {
    background-color: var(--backColor);
    color: var(--whiteColor);
    text-align: center;
    border-radius: .3rem;
    font-size: .6rem;
    padding: 1rem .7rem 1rem .7rem;
    margin: .5rem 0 .5rem 0;
    transition: .3s;
    cursor: pointer;
}

.barcode__icon {
    font-size: 1rem;
}

.app__download:hover {
    background-color: var(--buttonHoverColor) !important;
    color: var(--backColor);
    transform: translateY(4px);
}

.app__download-barcode {
    display: none;
    position: absolute;
    border: 3px solid var(--buttonHoverColor);
    background-color: var(--backColor);
    padding: 1rem;
    border-radius: .3rem;
    color: var(--whiteColor);
    z-index: 999;
}

.app__download-barcode img {
    width: 9.8rem;
    height: 9.8rem;
}


/* Blog Container */

.blog__container {
    margin: 4rem 0 3rem 0;
}

.blog__container-header {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: .4rem;
    background-color: var(--backColor);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all .4s ease-in-out;
}

.blog__container-header a {
    color: var(--whiteColor);
}


/* card item */

.blog__item {
    margin: 1rem 0 1rem 0;
    box-shadow: var(--boxMdShadow);
}

.blog__item:hover .blog__card-image img {
    transform: scale(1.2);
    opacity: .4;
}

.blog__card-image {
    overflow: hidden;
    background-color: var(--backColor);
}

.blog__card-image img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .4s ease-in-out;
}

.blog__texts {
    padding: 1rem;
}

.blog__card-title {
    font-family: 'DanaBold';
    font-size: 1.3rem;
    text-align: right;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 4rem;
    /* exactly three lines */
    text-overflow: -o-ellipsis-lastline;
    transition: all .5s ease-in-out;
}

.blog__card-title a {
    color: var(--linkSecondColor) !important;
}

.blog__card-body {
    text-align: justify;
    margin: 1rem 0 1rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 7.3rem;
    /* exactly three lines */
    text-overflow: -o-ellipsis-lastline;
    transition: all .5s ease-in-out;
}


/* Blog News Info */

.blog__info {
    padding: 1rem;
}


/* Footer */

footer {
    background-color: var(--backColor);
    padding: 3rem 0 0 0;
    color: var(--whiteColor);
    text-align: center;
}

.footer__header {
    padding-top: 2rem;
}

.footer__body {
    text-align: right;
    font-size: .9rem;
}

.footer__desc,
.footer__location,
.footer__contacts,
.footer__contacts a {
    margin-top: .9rem;
}

.social--media {
    font-size: 1.3rem;
    background-color: var(--buttonColor);
    color: var(--whiteColor) !important;
    border-radius: .3rem;
    padding: .4rem;
    box-shadow: var(--boxSmShadow);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.social--media:hover {
    background-color: var(--orangeColor);
    color: var(--whiteColor) !important;
}

.footer__links {
    display: block;
    margin: .3rem 0 0 0;
    padding: unset !important;
}


/* Copyright */

.copyright .border__copyright {
    margin: 1.3rem 0 .5rem 0;
    border-top: 2px solid var(--whiteColor);
    transition: all .3s ease-in-out;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

footer:hover .copyright .border__copyright {
    transform: scaleX(1);
    border-top: 2px solid var(--orangeColor);
}

.copyright__text {
    padding-bottom: .4rem;
}


/* page__content -> About & Contact page */

.page__content {
    /* background-color: var(--greyColor); */
    padding: 6rem 0 6rem 0;
}


/* Contact */

.form-message {
    backdrop-filter: blur(2rem);
    box-shadow: var(--boxSmShadow);
    padding: 3rem;
    border-radius: .3rem;
}

.form-message h3 {
    text-align: center;
    padding: 0 0 1rem 0;
}

.form-message input,.form-message textarea {
    background-color: var(--greyColor);
}

.form-message input:focus,.form-message textarea:focus {
    background-color: var(--greyColor);
}

.contact__info {
    margin: 3rem 0 4rem 0;
    box-shadow: var(--boxSmShadow);
    border-radius: .3rem;
}

.info__container {
    height: 25rem;
    padding: 1rem;
}

.info__container div {
    padding-bottom: 1.5rem;
}

.info--phone_email p {
    margin: 1rem 0 0 0;
}

.info--phone_email a {
    color: var(--linkSecondColor);
}

.info--phone_email-icon {
    color: var(--buttonColor);
}

.contact__social div a {
    margin: .5rem .5rem 0 .5rem;
}


/* About */

.special__content {
    padding: 2.8rem 0 4rem 0 !important;
}

.sub__header-background {
    background-color: var(--backColor);
    opacity: .5;
    padding: 0 0 2.5rem 0;
}

.sub__header {
    object-fit: cover;
    background-position: center;
    transition: all 1s ease-in-out;
}

.greyScale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.sub__header h3 {
    text-align: center;
    padding: 4rem 0 0 0;
    color: var(--greyColor);
}


/* Faq */

.h__special {
    margin-bottom: 0 !important;
}

.question__box {
    text-align: right;
    padding: .6rem;
    background-color: var(--whiteColor);
    border-radius: .5rem;
    cursor: pointer;
    margin: 1rem 0 1rem 0;
    box-shadow: var(--boxSmShadow);
}

.question {
    display: block;
}

.question__box span {
    width: 24px;
    height: 24px;
}

.plus__icon {
    margin: 0 0 0 .5rem;
    font-size: 1.2rem;
}

.fa-plus {
    color: var(--greenColor);
}

.fa-minus {
    color: var(--buttonHoverColor);
}

.answer {
    display: none;
    padding: 1rem .5rem 0 .5rem;
    margin: 1rem 0 0 0;
    text-align: justify;
    border-top: 1px solid var(--greyColor);
}

.answer a {
    color: var(--linkSecondColor);
}


/* user panel */
/* Doc Progress */

.operation__progress {
    counter-reset: step;
    width: 100%;
}

.operation__progressbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    padding-right: 0;
    /* border-bottom: 2px solid var(--borderColor); */
}

.operation__progress li {
    width: 100%;
    float: right;
    position: relative;
    text-align: center;
    z-index: 20;
}

.operation__progress li::before {
    content: counter(step);
    counter-increment: step;
    width: 2rem;
    height: 2rem;
    line-height: 2.2rem;
    border: 1px solid var(--borderColor);
    background: var(--greyColor);
    display: block;
    text-align: center;
    margin: 0 auto 1rem auto;
    border-radius: 50%;
    color: var(--blackColor);
}

.operation__progress li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .2rem;
    top: 15px;
    left: -50%;
    z-index: -999;
}

.operation__progress li:last-child::after {
    content: none;
}

.operation__progress li.active {
    color: var(--buttonColor);
}

.operation__progress li::after {
    background-color: var(--borderColor);
}

.operation__progress li.active::before {
    border-color: var(--buttonColor);
    color: var(--buttonColor);
}

.operation__progress li.active::after {
    background-color: var(--buttonColor);
}

.operation__progress-icon {
    display: block;
    font-size: 2rem;
    margin: .6rem 0 .6rem 0;
}

.operation__progress li.pending {
    color: var(--orangeColor);
}

.operation__progress li.pending::before {
    border-color: var(--orangeColor);
}

/* referral */
#copyText {
    background-color: unset;
    max-width: 346px;
}

/* Deposite & Withdraw */
.deposit-withdraw__box .referral__info-table .type__coin-img {
    width: 45px;
    height: 45px;
}

.all-select {
    cursor: pointer;
    transition: .3s;
}

.all-select:hover {
    color: var(--buttonColor);
}
.all-select:active {
    color: var(--buttonSecondHoverColor);
}

/* Exchange Page */
.exchange__header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    padding: 0 0 0 1rem;
    background-color: var(--greyColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--borderColor);
    transition: right .5s;
}

/* Exchange */
.content.exchange {
    padding: 0.5rem;
    padding-bottom: 5vh;
}

.exchange__items {
    height: 482px;
    border-radius: 1rem;
    padding: 0 !important;
    font-size: .9rem;
}

.exchange__items td,th,tr {
    /* font-size: .8rem !important; */
}

.exchange__items.currency__list {
    height: 270px;
}

.buy__list-item .exchange__items,
.sell__list-item .exchange__items {
    height: 318px;
}

.trade__part {
    height: 365px;
    padding: 1rem !important;
}
.trade__part input,
.trade__part input:focus {
    background-color: transparent;
}

.amount__select {
    border: 1px solid var(--borderColor);
    border-radius: .3rem;
    padding: .2rem .8rem .2rem .8rem;
    cursor: pointer;
    transition: .3s;
}
.amount__select:hover {
    background-color: var(--borderColor);
}

.currency__info-item {
    padding: 1rem;
}
/* navbar & header */

@media screen and (max-width:1070px) {
    .navbar__sm {
        display: block !important;
    }
    .navbar__lg {
        display: none;
    }
    .toggle__navbar {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .auth__div {
        display: none !important;
    }
    .register__box .row {
        width: 70%;
    }
    .app__download {
        font-size: 1rem;
    }
    .card__title h3 {
        font-size: 1.2rem;
    }
}


/* Auth */

@media screen and (max-width: 1050px) {
    .auth__container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width:1000px) {
    .auth__form {
        width: 290px;
    }
    .auth__form h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .auth__img img {
        width: 400px;
    }
}

@media screen and (max-width:900px) {
    .auth__img {
        display: none;
    }
    .auth__container {
        grid-template-columns: 1fr;
    }
    .wave__img {
        display: none;
    }
    .LoSi__container {
        justify-content: center;
    }
}


/* table sm none */

@media screen and (max-width: 767px) {
    .table__graph,
    .table__graph-col {
        display: none;
    }
    .table__img img {
        max-width: 1.5rem;
    }
    .price__list--table {
        font-size: var(--fontMdSize);
    }
    .table__buttons div a {
        font-size: var(--btnMdSize);
    }
    .card__title h3 {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 454px) {
    .main__content .social__icons .box__toggler .support__box, .main__content .social__icons .box__toggler .notification__box {
        width: 15rem;
    }
    .main__content .social__icons .box__toggler .notification__box {
        left: -6.5rem;
    }

    .main__content .social__icons .box__toggler .support__box {
        left: -4rem;
    }
}
@media screen and (max-width: 425px) {
    .price__list--table thead {
        /* font-size: .1rem !important; */
    }
    .table__img img {
        max-width: 1rem;
    }
    .price__list--table tr {
        font-size: var(--fontSmSize);
    }
    .basic__info .bi-header__section h4 {
        font-size: 1rem;
    }
    .bi-body__section tr {
        font-size: .7rem;
        text-align: center;
    }
    /* Auth */
    .auth__container {
        padding: 0;
    }
    /* Images */
    .back__images {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .basic__info .bi-header__section h4 {
        font-size: .8rem;
    }
    .bi-body__section tr {
        font-size: .5rem;
        text-align: center;
    }
}